<div
  class="container"
  *ngIf="!spinner.showSpinner"
>
  <dx-data-grid
    id="gridContainer"
    [dataSource]="currencies"
    [showBorders]="true"
    [showRowLines]="true"
    [editing]="{
      allowAdding: true
    }"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20]"
      [showInfo]="true">
    </dxo-pager>

    <dxi-column
      dataField="cc"
      caption="Acronym"

    >Text</dxi-column>
    <dxi-column
      dataField="exchangedate"
      caption="Date"
    ></dxi-column>
    <dxi-column
      dataField="r030"
      caption="Amount"
      alignment="left"
    ></dxi-column>
    <dxi-column
      dataField="rate"
      caption="Rate"
      alignment="left"
    ></dxi-column>
    <dxi-column
      dataField="txt"
      caption="Title"
    ></dxi-column>
  </dx-data-grid>
</div>

