<div class="container">
  <dx-select-box
    [dataSource]="data"
    displayExpr="txt"
    valueExpr="rate"
    [placeholder]="currencies[0].txt"
    width="300"
    (valueChange)="selectFirstValue($event)"
  ></dx-select-box>
  <dx-select-box
    [dataSource]="data"
    displayExpr="txt"
    valueExpr="rate"
    [placeholder]="currencies[1].txt"
    width="300"
    (valueChange)="selectSecondValue($event)"
  ></dx-select-box>
</div>
<app-exchange-currency-choose-amount
  (amountValue)="getAmountValue($event.value)"
></app-exchange-currency-choose-amount>
<dx-button
  stylingMode="contained"
  text="Get result"
  type="success"
  [width]="120"
  (onClick)="getCalculationResult()"
>
</dx-button>
<h2>
  You'll receive:
  <span>{{ result }}  {{secondSelectCurrencyValue}}</span>
</h2>
<h4 *ngIf="validationError" class="validation-error">{{ validationError }}</h4>
